@import "tailwindcss";

:root {
  --bg: #fff;
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  background: var(--bg);

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #16171d;
  }

  body {
    margin: 0;
  }
}
